In [ ]:
import numpy as np 
import pandas as pd
import glob
import os
from tqdm import tqdm
import regex as re
from collections import defaultdict
import concurrent.futures

import plotly.graph_objects as go

In [ ]:
def extract_filename(filenames):
    """
    Extracts the filename without extension from a list of filenames with paths.
    
    Args:
        filenames (list): A list of filenames with paths.
        
    Returns:
        list: A list of filenames without extensions.
    """
    filenames_without_ext = []
    for filename in filenames:
        path, filename_with_ext = os.path.split(filename)
        filename, ext = os.path.splitext(filename_with_ext)
        filenames_without_ext.append(filename)
    
    return filenames_without_ext

In [ ]:
def file_len(file_path):
    with open(file_path, 'r') as file:
        for i, _ in enumerate(file):
            pass
    return i + 1

In [ ]:
path = r'./Statewise/'
all_files = glob.glob(path + "/*.csv")
filenames = extract_filename(all_files)

print(filenames)
print(all_files)

# for i in range(len(filenames)):
# #     filenames.append(reformat_filename(filenames[i]))
# all_files = ['NY.csv']
# print(all_files)

In [38]:
# Initialize a defaultdict to store counts for each year and race
yearly_race_counts = defaultdict(lambda: defaultdict(int))

# Define a function to process each CSV file
def process_csv(file_path):
    df = pd.read_csv(file_path)
    df['date'] = pd.to_datetime(df['date'])
    for index, row in df.iterrows():
        # Extract year from the date column
        year = row['date'].year
        # Increment the count for the corresponding year and race
        yearly_race_counts[year][row['subject_race']] += 1

# Loop through your CSV files and process each one
for file_path in tqdm(all_files, desc='Processing CSV files', unit='file'):
    print("Loading file: ", file_path)
    process_csv(file_path)
    print("Finished processing file: ", file_path)

Processing CSV files:   0%|          | 0/16 [00:00<?, ?file/s]

Loading file:  ./Statewise/CT.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (14,15,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:   6%|▋         | 1/16 [00:33<08:15, 33.06s/file]

Finished processing file:  ./Statewise/CT.csv
Loading file:  ./Statewise/RI.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (6,17,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  12%|█▎        | 2/16 [00:46<04:58, 21.29s/file]

Finished processing file:  ./Statewise/RI.csv
Loading file:  ./Statewise/CA.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  19%|█▉        | 3/16 [01:10<04:52, 22.51s/file]

Finished processing file:  ./Statewise/CA.csv
Loading file:  ./Statewise/AZ.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (9,10,11,12,18,19,21,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  25%|██▌       | 4/16 [02:43<10:04, 50.41s/file]

Finished processing file:  ./Statewise/AZ.csv
Loading file:  ./Statewise/MO.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  31%|███▏      | 5/16 [07:00<22:55, 125.05s/file]

Finished processing file:  ./Statewise/MO.csv
Loading file:  ./Statewise/WI.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (13,14,15,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  38%|███▊      | 6/16 [07:32<15:34, 93.47s/file]

Finished processing file:  ./Statewise/WI.csv
Loading file:  ./Statewise/NC.csv

Processing CSV files:  44%|████▍     | 7/16 [07:48<10:12, 68.02s/file]

Finished processing file:  ./Statewise/NC.csv
Loading file:  ./Statewise/CO.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (7,8,9,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  50%|█████     | 8/16 [09:13<09:47, 73.41s/file]

Finished processing file:  ./Statewise/CO.csv
Loading file:  ./Statewise/TX.csv

Processing CSV files:  56%|█████▋    | 9/16 [09:28<06:25, 55.12s/file]

Finished processing file:  ./Statewise/TX.csv
Loading file:  ./Statewise/LA.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  62%|██████▎   | 10/16 [09:43<04:16, 42.80s/file]

Finished processing file:  ./Statewise/LA.csv
Loading file:  ./Statewise/MT.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (0,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  69%|██████▉   | 11/16 [10:09<03:08, 37.65s/file]

Finished processing file:  ./Statewise/MT.csv
Loading file:  ./Statewise/MD.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (1,2,3,9,10,11,12,13,14,15,16,17,19,20,21,22,23,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  75%|███████▌  | 12/16 [11:52<03:49, 57.43s/file]

Finished processing file:  ./Statewise/MD.csv
Loading file:  ./Statewise/VT.csv

Processing CSV files:  81%|████████▏ | 13/16 [11:59<02:06, 42.30s/file]

Finished processing file:  ./Statewise/VT.csv
Loading file:  ./Statewise/PA.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  88%|████████▊ | 14/16 [12:52<01:30, 45.38s/file]

Finished processing file:  ./Statewise/PA.csv
Loading file:  ./Statewise/TN.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (6,8,15,16,17,22,23,24,25,29,30,31,32,33,35,36,37,38,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files:  94%|█████████▍| 15/16 [14:31<01:01, 61.68s/file]

Finished processing file:  ./Statewise/TN.csv
Loading file:  ./Statewise/MA.csv

/tmp/ipykernel_699/3009044540.py:6: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
Processing CSV files: 100%|██████████| 16/16 [16:00<00:00, 60.01s/file]

Finished processing file:  ./Statewise/MA.csv

In [39]:
for year, race_counts in yearly_race_counts.items():
    print(f"Year: {year}")
    for race, count in race_counts.items():
        print(f"{race}: {count}")
    print()

Year: 2013
asian/pacific islander: 100531
white: 3294777
black: 888320
hispanic: 366469
other: 77281
nan: 60429
unknown: 16056

Year: 2014
black: 1061573
white: 3425934
hispanic: 443395
asian/pacific islander: 113431
other: 76111
nan: 91980
unknown: 13225

Year: 2015
white: 2965054
hispanic: 406910
black: 985411
asian/pacific islander: 99348
other: 69508
nan: 163618
unknown: 14098

Year: 2005
white: 27476
hispanic: 2056
black: 18200
other: 146
asian/pacific islander: 945
nan: 269
unknown: 527

Year: 2006
white: 94250
black: 35765
nan: 2789
asian/pacific islander: 3639
hispanic: 8803
other: 373
unknown: 975

Year: nan
nan: 4089
white: 12801
hispanic: 1900
black: 57044
other: 80
unknown: 10043
asian/pacific islander: 777

Year: 2007
white: 564145
asian/pacific islander: 39574
black: 212924
hispanic: 67870
nan: 6582
other: 18930
unknown: 2357

Year: 2008
white: 474327
asian/pacific islander: 44096
black: 96923
hispanic: 73688
nan: 3670
other: 13367
unknown: 4694

Year: 2009
white: 917960
black: 431985
nan: 8330
other: 29314
hispanic: 119063
asian/pacific islander: 59495
unknown: 3408

Year: 2010
white: 2441845
black: 566315
nan: 66718
hispanic: 186906
asian/pacific islander: 63135
other: 39598
unknown: 10289

Year: 2011
hispanic: 285365
white: 3040177
nan: 72814
black: 838796
asian/pacific islander: 85091
other: 55375
unknown: 12868

Year: 2012
white: 3359798
black: 1003879
nan: 60713
hispanic: 361140
asian/pacific islander: 104797
other: 79143
unknown: 20710

Year: 2016
asian/pacific islander: 45161
other: 52316
white: 985070
black: 498487
hispanic: 312396
unknown: 13274
nan: 54937

Year: 2017
white: 860573
hispanic: 300100
black: 462895
asian/pacific islander: 34747
other: 43268
unknown: 12767
nan: 24126

Year: 2000
white: 991
black: 776
asian/pacific islander: 38
unknown: 51
hispanic: 63
other: 3

Year: 2001
black: 994
white: 1277
asian/pacific islander: 63
hispanic: 148
other: 47
unknown: 38

Year: 2002
white: 17136
black: 17723
hispanic: 2174
asian/pacific islander: 625
unknown: 704
other: 63
nan: 3

Year: 2003
white: 16825
black: 17388
unknown: 760
hispanic: 2032
asian/pacific islander: 577
other: 51
nan: 1

Year: 2004
white: 17712
hispanic: 2152
black: 16925
unknown: 693
asian/pacific islander: 641
other: 40

Year: 2018
white: 134152
black: 173324
nan: 596
hispanic: 24751
asian/pacific islander: 5716
unknown: 5405
other: 361

Year: 2019
black: 5016
white: 7512
hispanic: 1083
unknown: 356
asian/pacific islander: 248
nan: 12
other: 8

In [40]:
# save data to csv
df = pd.DataFrame(yearly_race_counts)
df.to_csv('yearly.csv')

In [41]:
df

,2013.0,2014.0,2015.0,2005.0,2006.0,NaN,2007.0,2008.0,2009.0,2010.0,...,2012.0,2016.0,2017.0,2000.0,2001.0,2002.0,2003.0,2004.0,2018.0,2019.0
asian/pacific islander,100531,113431,99348,945,3639,777,39574,44096,59495,63135,...,104797,45161,34747,38.0,63.0,625,577,641.0,5716,248
white,3294777,3425934,2965054,27476,94250,12801,564145,474327,917960,2441845,...,3359798,985070,860573,991.0,1277.0,17136,16825,17712.0,134152,7512
black,888320,1061573,985411,18200,35765,57044,212924,96923,431985,566315,...,1003879,498487,462895,776.0,994.0,17723,17388,16925.0,173324,5016
hispanic,366469,443395,406910,2056,8803,1900,67870,73688,119063,186906,...,361140,312396,300100,63.0,148.0,2174,2032,2152.0,24751,1083
other,77281,76111,69508,146,373,80,18930,13367,29314,39598,...,79143,52316,43268,3.0,47.0,63,51,40.0,361,8
NaN,60429,91980,163618,269,2789,4089,6582,3670,8330,66718,...,60713,54937,24126,NaN,NaN,3,1,NaN,596,12
unknown,16056,13225,14098,527,975,10043,2357,4694,3408,10289,...,20710,13274,12767,51.0,38.0,704,760,693.0,5405,356

In [76]:
# remove certain index from the dataframe

years = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

df_filtered = df.copy()
df_filtered.drop(columns=[np.nan], inplace=True)
df_filtered.columns = df_filtered.columns.astype(int)
df_filtered = df_filtered[years]
df_filtered = df_filtered.drop(['unknown', 'other', np.nan])
df_filtered.index = ['White', 'Black', 'Hispanic', 'Asian/Pacific Islander']

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
asian/pacific islander,44096,59495,63135,85091,104797,100531,113431,99348,45161,34747,5716
white,474327,917960,2441845,3040177,3359798,3294777,3425934,2965054,985070,860573,134152
black,96923,431985,566315,838796,1003879,888320,1061573,985411,498487,462895,173324
hispanic,73688,119063,186906,285365,361140,366469,443395,406910,312396,300100,24751

In [78]:
df_filtered

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
White,44096,59495,63135,85091,104797,100531,113431,99348,45161,34747,5716
Black,474327,917960,2441845,3040177,3359798,3294777,3425934,2965054,985070,860573,134152
Hispanic,96923,431985,566315,838796,1003879,888320,1061573,985411,498487,462895,173324
Asian/Pacific Islander,73688,119063,186906,285365,361140,366469,443395,406910,312396,300100,24751

In [84]:
path_pop = r'./Total_population/'
all_files_pop = glob.glob(path_pop + "/*.csv")
filenames_pop = extract_filename(all_files_pop)

print(filenames_pop)
print(all_files_pop)

['2011', '2008', '2012', '2015', '2016', '2014', '2013', '2018', '2009', '2010', '2017']
['./Total_population/2011.csv', './Total_population/2008.csv', './Total_population/2012.csv', './Total_population/2015.csv', './Total_population/2016.csv', './Total_population/2014.csv', './Total_population/2013.csv', './Total_population/2018.csv', './Total_population/2009.csv', './Total_population/2010.csv', './Total_population/2017.csv']

In [123]:
# Initialize an empty dictionary to store data
data = {}

# Loop through each CSV file
i = 0
for file_name in all_files_pop:
    # Read only 3rd and 4th rows of the CSV file
    df = pd.read_csv(file_name, skiprows=[0, 1], nrows=2, header=None)
    # print(df)
    df.columns = df.iloc[0]
    # Remove the 3rd row
    df = df.iloc[1:]
    # Assign column names as the file names (years)
    year = filenames_pop[i]  # Extract year from file name
    data[year] = df
    i=i+1

# Combine data into a single DataFrame
combined_df = pd.concat(data)

index = combined_df.index
index = [x[0] for x in index]
# convert index to integer
index = [int(x) for x in index]
# print(index)
# set index of the combined_df
combined_df.index = index
# drop columns
combined_df = combined_df.drop(columns=['Footnotes', 'Location'])

# switch row and columns
combined_df = combined_df.T

# print(combined_df.columns)
# reorder the columns in increasing order of column value as integer
combined_df = combined_df[sorted(combined_df.columns)]


# remove name of the index
combined_df.index.name = None
combined_df

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
White,193573200,193827600,191844300,192080600,192305000,192379500,192419600,192593600,192537500,192336100,192117000
Black,35033200,35385000,36217100,36478000,36797500,37122600,37599400,37923800,38081700,38408000,38655700
Hispanic,45753600,47231900,49603000,50801600,51773400,52764900,54059600,55241300,56144400,57560600,58483600
Asian,12947100,13323700,14275400,14557700,15067900,15505700,16156500,16755300,17004500,17651200,17844800
American Indian/Alaska Native,1919700,1894400,1997400,2002400,2022800,2008700,2006500,1986900,2041500,2039400,2082800
Native Hawaiian/Other Pacific Islander,384400,399500,444100,441600,472200,448800,481900,466400,514600,502500,519500
Multiple Races,5658400,5935800,6425000,6718700,6937700,7275400,7488800,7810600,8142200,8524700,8795000
Total,295269800,297997800,300806200,303080600,305376600,307505500,310212200,312777900,314466400,317022500,318498500

In [79]:
# # Define a function to initialize a nested defaultdict
# def nested_defaultdict():
#     return defaultdict(int)

# # Initialize a nested defaultdict to store counts for each year and race
# yearly_race_counts = defaultdict(nested_defaultdict)

# # Define a function to process each chunk of data
# def process_chunk(chunk):
#     # Convert the date column to datetime format
#     chunk['date'] = pd.to_datetime(chunk['date'])
#     race_counts = defaultdict(int)
#     for index, row in chunk.iterrows():
#         # Extract year from the date column
#         year = row['date'].year
#         # Increment the count for the corresponding year and race
#         race_counts[row['subject_race']] += 1
#     return year, race_counts

# # Loop through your CSV files and process each one
# # csv_files = ["file1.csv", "file2.csv", ...]  # Replace with your list of file paths

# def process_file(file_path):
#     chunk_size = 10000  # Adjust the chunk size as needed
#     yearly_race_counts_per_file = defaultdict(nested_defaultdict)
#     for chunk in pd.read_csv(file_path, chunksize=chunk_size):
#         year, race_counts = process_chunk(chunk)
#         for race, count in race_counts.items():
#             yearly_race_counts_per_file[year][race] += count
#     return yearly_race_counts_per_file

# # Use multiprocessing Pool to parallelize file processing
# with multiprocessing.Pool() as pool:
#     race_counts_list = list(tqdm(pool.imap(process_file, csv_files), total=len(csv_files)))

# # Aggregate results from different files
# for yearly_race_counts_per_file in race_counts_list:
#     for year, race_counts in yearly_race_counts_per_file.items():
#         for race, count in race_counts.items():
#             yearly_race_counts[year][race] += count

# # Print the results
# for year, race_counts in yearly_race_counts.items():
#     print(f"Year: {year}")
#     for race, count in race_counts.items():
#         print(f"{race}: {count}")
#     print()